<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\Attribute[]|\Cake\Collection\CollectionInterface $attributes
 */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('New Attribute'), ['action' => 'add']) ?></li>
    </ul>
</nav>
<div class="attributes index large-9 medium-8 columns content">
    <h3><?= __('Attributes') ?></h3>
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th scope="col"><?= $this->Paginator->sort('id') ?></th>
                <th scope="col"><?= $this->Paginator->sort('name') ?></th>
                <th scope="col"><?= $this->Paginator->sort('name_jp') ?></th>
                <th scope="col"><?= $this->Paginator->sort('name_kana') ?></th>
                <th scope="col"><?= $this->Paginator->sort('type') ?></th>
                <th scope="col"><?= $this->Paginator->sort('code') ?></th>
                <th scope="col" class="actions"><?= __('Actions') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($attributes as $attribute): ?>
            <tr>
                <td><?= $this->Number->format($attribute->id) ?></td>
                <td><?= h($attribute->name) ?></td>
                <td><?= h($attribute->name_jp) ?></td>
                <td><?= h($attribute->name_kana) ?></td>
                <td><?= h($attribute->type) ?></td>
                <td><?= h($attribute->code) ?></td>
                <td class="actions">
                    <?= $this->Html->link(__('View'), ['action' => 'view', $attribute->id]) ?>
                    <?= $this->Html->link(__('Edit'), ['action' => 'edit', $attribute->id]) ?>
                    <?= $this->Form->postLink(__('Delete'), ['action' => 'delete', $attribute->id], ['confirm' => __('Are you sure you want to delete # {0}?', $attribute->id)]) ?>
                </td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <div class="paginator">
        <ul class="pagination">
            <?= $this->Paginator->first('<< ' . __('first')) ?>
            <?= $this->Paginator->prev('< ' . __('previous')) ?>
            <?= $this->Paginator->numbers() ?>
            <?= $this->Paginator->next(__('next') . ' >') ?>
            <?= $this->Paginator->last(__('last') . ' >>') ?>
        </ul>
        <p><?= $this->Paginator->counter(['format' => __('Page {{page}} of {{pages}}, showing {{current}} record(s) out of {{count}} total')]) ?></p>
    </div>
</div>
