/**

 */
.inline-navi {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: .25rem;
}

.right-panel .page-header .inline-navi {
    margin: 0;
    padding: 13.5px 0;
    background: #fff;
    text-transform: capitalize;
}

.right-panel .page-header .inline-navi > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}

/**
    無効のpage_prev、page_nextのスタイル
 */
.page-item.disabled .page-link,
.dataTables_paginate .pagination li:hover a {
    background-color: #EEE;
    border-color: #dee2e6;
    color: #FFF;
}

