<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\SearchCard[]|\Cake\Collection\CollectionInterface $searchCards
 */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('New Search Card'), ['action' => 'add']) ?></li>
        <li><?= $this->Html->link(__('List Cards'), ['controller' => 'Cards', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Card'), ['controller' => 'Cards', 'action' => 'add']) ?></li>
    </ul>
</nav>
<div class="searchCards index large-9 medium-8 columns content">
    <h3><?= __('Search Cards') ?></h3>
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th scope="col"><?= $this->Paginator->sort('id') ?></th>
                <th scope="col"><?= $this->Paginator->sort('name') ?></th>
                <th scope="col"><?= $this->Paginator->sort('card_id') ?></th>
                <th scope="col"><?= $this->Paginator->sort('type') ?></th>
                <th scope="col"><?= $this->Paginator->sort('offset') ?></th>
                <th scope="col"><?= $this->Paginator->sort('count') ?></th>
                <th scope="col" class="actions"><?= __('Actions') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($searchCards as $searchCard): ?>
            <tr>
                <td><?= $this->Number->format($searchCard->id) ?></td>
                <td><?= h($searchCard->name) ?></td>
                <td><?= $searchCard->has('card') ? $this->Html->link($searchCard->card->name, ['controller' => 'Cards', 'action' => 'view', $searchCard->card->id]) : '' ?></td>
                <td><?= h($searchCard->type) ?></td>
                <td><?= $this->Number->format($searchCard->offset) ?></td>
                <td><?= $this->Number->format($searchCard->count) ?></td>
                <td class="actions">
                    <?= $this->Html->link(__('View'), ['action' => 'view', $searchCard->id]) ?>
                    <?= $this->Html->link(__('Edit'), ['action' => 'edit', $searchCard->id]) ?>
                    <?= $this->Form->postLink(__('Delete'), ['action' => 'delete', $searchCard->id], ['confirm' => __('Are you sure you want to delete # {0}?', $searchCard->id)]) ?>
                </td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <div class="paginator">
        <ul class="pagination">
            <?= $this->Paginator->first('<< ' . __('first')) ?>
            <?= $this->Paginator->prev('< ' . __('previous')) ?>
            <?= $this->Paginator->numbers() ?>
            <?= $this->Paginator->next(__('next') . ' >') ?>
            <?= $this->Paginator->last(__('last') . ' >>') ?>
        </ul>
        <p><?= $this->Paginator->counter(['format' => __('Page {{page}} of {{pages}}, showing {{current}} record(s) out of {{count}} total')]) ?></p>
    </div>
</div>
