<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
	<?= $this->Html->charset() ?>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        <?= $this->fetch('title') ?> : <?= $app_name ?>
	</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="/Sufee/favicon.ico">


    <link rel="stylesheet" href="<?= $this->Url->css('/Sufee/vendors/bootstrap/dist/css/bootstrap.min.css') ?>">
    <link rel="stylesheet" href="<?= $this->Url->css('/Sufee/vendors/font-awesome/css/font-awesome.min.css') ?>">
    <link rel="stylesheet" href="<?= $this->Url->css('/Sufee/vendors/themify-icons/css/themify-icons.css') ?>">
    <link rel="stylesheet" href="<?= $this->Url->css('/Sufee/vendors/flag-icon-css/css/flag-icon.min.css') ?>">
    <link rel="stylesheet" href="<?= $this->Url->css('/Sufee/vendors/selectFX/css/cs-skin-elastic.css') ?>">
    <link rel="stylesheet" href="<?= $this->Url->css('/Sufee/vendors/jqvmap/dist/jqvmap.min.css') ?>">

    <link rel="stylesheet" href="<?= $this->Url->css('/Sufee/assets/css/style.css') ?>">

    <link rel="stylesheet" href="<?= $this->Url->css('/Sufee/assets/css/main.css') ?>">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

</head>
<body>

    <!-- Left Panel -->
    <aside id="left-panel" class="left-panel">
        <?= $this->element('sidemenu') ?>
    </aside>
    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <?= $this->element('header'); ?>
        <!-- Header-->

        <!-- Breadcrumb -->
        <?= $this->element('breadcrumb') ?>
        <!-- Breadcrumb -->

        <div class="content mt-3">

            <?= $this->fetch('content') ?>

        </div> <!-- .content -->
    </div><!-- /#right-panel -->

    <!-- Right Panel -->
<!--
    <script src="<?= $this->Url->build('/Sufee/assets/js/vendor/jquery-2.1.4.min.js') ?>"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="<?= $this->Url->build('/Sufee/assets/js/plugins.js') ?>"></script>
    <script src="<?= $this->Url->build('/Sufee/assets/js/main.js') ?>"></script>


    <script src="<?= $this->Url->build('/Sufee/assets/js/lib/chart-js/Chart.bundle.js') ?>"></script>
    <script src="<?= $this->Url->build('/Sufee/assets/js/dashboard.js') ?>"></script>
    <script src="<?= $this->Url->build('/Sufee/assets/js/widgets.js') ?>"></script>
    <script src="<?= $this->Url->build('/Sufee/assets/js/lib/vector-map/jquery.vmap.js') ?>"></script>
    <script src="<?= $this->Url->build('/Sufee/assets/js/lib/vector-map/jquery.vmap.min.js') ?>"></script>
    <script src="<?= $this->Url->build('/Sufee/assets/js/lib/vector-map/jquery.vmap.sampledata.js') ?>"></script>
    <script src="<?= $this->Url->build('/Sufee/assets/js/lib/vector-map/country/jquery.vmap.world.js') ?>"></script>
    <script>
        ( function ( $ ) {
            "use strict";

            jQuery( '#vmap' ).vectorMap( {
                map: 'world_en',
                backgroundColor: null,
                color: '#ffffff',
                hoverOpacity: 0.7,
                selectedColor: '#1de9b6',
                enableZoom: true,
                showTooltip: true,
                values: sample_data,
                scaleColors: [ '#1de9b6', '#03a9f5' ],
                normalizeFunction: 'polynomial'
            } );
        } )( jQuery );
    </script>
-->
</body>
</html>
